@import "tailwindcss";

:root{
  --backgroundColor:#5f6b7b;
  --mainColor:#3a8acf;
  --grayColor:#f0f4f7;
  --secondBackgroundColor:#ccc;
}

body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: var(--backgroundColor);
  padding:0 50px ;
}

.loader {
  width: 100px;
  height: 100px;
  border: 5px solid #FFF;
  border-bottom-color: var(--mainColor);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 